<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>291397648734-egngbg00hgdmc3lej8rri0r7p3993iei.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.291397648734-egngbg00hgdmc3lej8rri0r7p3993iei</string>
	<key>API_KEY</key>
	<string>AIzaSyDxWxtJEAzuob530_Sajx5HFnPfGq1nJZI</string>
	<key>GCM_SENDER_ID</key>
	<string>291397648734</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jar.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-87b92</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-87b92.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:291397648734:ios:9cb1d72040fcacc2338fcf</string>
</dict>
</plist>